<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Личный кабинет</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="/static/script.js"></script>

</head>
<body>
  <header>
    <h1>Привет, {{.Login}}!</h1>
    <a href="/logout" class="logout-button">Выйти</a>
  </header>



    <section class="data-section">
      <h2>Данные:</h2>
      <pre id="data">Загрузка данных...</pre>
      <button id="refresh-data">Обновить данные</button>
    </section>
  </main>

  
</body>
</html>
